<!DOCTYPE HTML>
<html lang="en-US">
<head>
     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sofia&display=swap" rel="stylesheet">
    <!-- CSS here -->
    <link rel="stylesheet" href="{{ url_for('static', filename='print/assets/css/vendor/bootstrap.min.css')}}">
	<!-- Swiper CSS -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

<!-- Swiper JS -->
<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">

    <link rel="stylesheet" href="{{ url_for('static', filename='print/assets/css/vendor/animate.min.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='print/assets/css/plugins/swiper.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='print/assets/css/vendor/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='print/assets/css/vendor/fontawesome-pro.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='print/assets/css/vendor/spacing.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='print/assets/css/vendor/custom-font.css') }}">
    
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>JESOFE-PRINTING</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Favicon -->
	<link rel="icon" type="image/png" sizes="100%x100%" href="{{ url_for('static', filename='assets/images/nini.png') }}">
	<!-- bootstrap CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}" type="text/css" media="all" />
	<!-- carousel CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/owl.carousel.min.css') }}" type="text/css" media="all" />	
	<!-- animate CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/animate.css') }}" type="text/css" media="all" />	
	<!-- animated-text CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/animated-text.css') }}" type="text/css" media="all" />	
	<!-- font-awesome CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/all.min.css') }}" type="text/css" media="all" />		
	<!-- theme-default CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/theme-default.css') }}" type="text/css" media="all" />	
	<!-- meanmenu CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/meanmenu.min.css') }}" type="text/css" media="all" />	
	<!-- Main Style CSS -->
	<link rel="stylesheet"  href="{{ url_for('static', filename='style.css') }}" type="text/css" media="all" />
	<!-- transitions CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/owl.transitions.css') }}" type="text/css" media="all" />
	<!-- venobox CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='venobox/venobox.css') }}" type="text/css" media="all" />
	<!-- responsive CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/responsive.css') }}" type="text/css" media="all" />
	<!-- modernizr js -->	
	<script src="{{ url_for('static', filename='assets/js/vendor/modernizr-3.5.0.min.js') }}"></script>		
	<!-- bootstrap icons -->
	
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<style>
	.gallery-container {
		position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80vh;
}
.item {
  height: 100%;
  cursor: pointer;
}
.text-overlay {
            position: absolute;
            bottom: 40%;
            left: 50%;
            color: #fff;
    background-image: linear-gradient(-86deg,  #00d5d9 0%, #0142a6 100%);
            padding: 5px;
            border-radius: 3px;
			border-radius: 4px;
    border: 1px solid #fb9737;
        }
		.text-overlay:before {
    position: absolute;
    content: "";
	bottom: 20%;
	left: 20%;
    z-index: -1;
    height: 100%;
    width: 0;
    background: #fff;
    border-radius: 4px;
    transition: .5s;
}
.text-overlay:hover {
   color: white; 
}
.text-overlay:hover:before {
    width: 100%;
    left: 0;
}
</style>
</head>
<body>
	<!-- loder -->
	<div class="loader-wrapper">
	  <div class="loader"></div>
	  <div class="loder-section left-section"></div>
	  <div class="loder-section right-section"></div>
	</div>
<!--==================================================-->
<!-- Start print shop Main Menu -->
<!--==================================================-->
<div id="sticky-header" class="print_shop_nav_manu">
	<div class="container-fluid">
		<div class="row align-items-center">
			<div class="col-lg-2">
				<div class="logo">
					<a class="logo_img" href="{{ url_for('static', filename='/') }}" title="print_shop">
						<img src="{{ url_for('static', filename='assets/images/nini.png') }}" id="wiwi">
					</a>
					<a class="main_sticky" href="{{ url_for('static', filename='index.html') }}" title="print_shop">
						<img src="{{ url_for('static', filename='assets/images/nini.png') }}" alt="astute"  id="wiwi1"/>
					</a>
				</div>
			</div>
			<div class="col-lg-8">
				<nav class="print_shop_menu">
					<ul class="nav_scroll">
						<li>
							<a href="/">Home</a>		
						</li>
						<li><a class="blog" href="#about">About </a></li>
						<li><a href="#service">Services</a>
						</li>
						<li><a href="{{ url_for('shop.shop') }}">Shop</a>
						<li><a class="blog" href="contact">Contact</a></li>
						<li><a class="blog" href="login"><i class="fas fa-user-tie"></i></a></li>
					</ul>		
				</nav>
			</div>
			<div class="col-lg-2">
				<div class="header-button text-right">
					<a href="{{ url_for('main.contact') }}"> Contact Us <i class="bi bi-arrow-right"></i> </a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- print_shop Mobile Menu  -->
<div class="mobile-menu-area sticky d-sm-block d-md-block d-lg-none ">
	<div class="mobile-menu">
		<nav class="print_shop_menu">
			<ul class="nav_scroll">
				<li><a href="/">Home</a>		
				</li>
				<li><a class="blog" href="#about">About </a></li>
				<li><a href="#service">Services</a>
				</li>
				<li><a href="{{ url_for('shop.shop') }}">Shop</a>
				<li><a class="blog" href="{{ url_for('main.contact') }}">Contact</a></li>
				<li><a class="blog" href="{{ url_for('static', filename='login.html') }}"><i class="fas fa-user-tie"></i></a></li>
			</ul>
		</nav>
	</div>
</div>

<div class="banner__area p-relative z-1">
	<div class="swiper banner_parallax-slider p-relative">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<div class="banner banner__space">
					<div class="banner__thumb-bg" data-background="print/assets/imgs/banner-2/banner-2-bg-img.png"></div>
					<div class="container">
						<div class="banner__space-shape-wrapper">
							<div class="banner__space-shape-wrapper-top-black-shape">
								<img src="{{ url_for('static', filename='print/assets/imgs/banner-2/banner-2-top-black-shape.svg') }}" alt="img not found">
							</div>
							<div class="banner__space-shape-wrapper-bottom-shape">
								<img src="{{ url_for('static', filename='print/assets/imgs/banner-2/banner-2-botom-shape.svg') }}" alt="img not found">
							</div>
						</div>
						<div class="row">
							<div class="col-xxl-9 col-xl-9 col-lg-10">
								<div class="banner__content p-relative z-index-1">
									<span class="banner__sub-title wow fade-in-bottom" data-wow-delay="200ms">Dedicated To Excellence</span>
									<h2 class="banner__title wow fade-in-bottom" data-wow-delay="400ms">For All Your Printing Requirements</h2>
									<p class="h5 wow fade-in-bottom" data-wow-delay="400ms">There are many variations of passages orem psum available but the majority have suffered alteration in some form by injected humour or randomised words which don't look even.</p>

									<div class="banner-home-2__btn__wrapper-2 d-flex flex-wrap mt-40 mt-md-35 mt-sm-30 mt-xs-25">
										<a href="{{ url_for('static', filename='contact.html') }}" class="rr-btn btn-hover-white wow fadeInLeft animated" data-wow-delay="1s">Start Your Project</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="banner banner__space">
					<div class="banner__thumb-bg" data-background="print/assets/imgs/banner-2/banner-2-bg-img-2.png"></div>
					<div class="container">
						<div class="banner__space-shape-wrapper">
							<div class="banner__space-shape-wrapper-top-black-shape">
								<img src="{{ url_for('static', filename='print/assets/imgs/banner-2/banner-2-top-black-shape.svg') }}" alt="img not found">
							</div>
							<div class="banner__space-shape-wrapper-bottom-shape">
								<img src="{{ url_for('static', filename='print/assets/imgs/banner-2/banner-2-botom-shape.svg') }}" alt="img not found">
							</div>
						</div>
						<div class="row">
							<div class="col-xxl-9 col-xl-9 col-lg-10">
								<div class="banner__content p-relative z-index-1">
									<span class="banner__sub-title">Dedicated To Excellence</span>
									<h2 class="banner__title">Modern & Design Printing Solution</h2>
									<p class="h5">There are many variations of passages orem psum available but the majority have suffered alteration in some form by injected humour or randomised words which don't look even.</p>

									<div class="banner-home-2__btn__wrapper-2 d-flex flex-wrap mt-40 mt-md-35 mt-sm-30 mt-xs-25">
										<a href="{{ url_for('static', filename='contact.html') }}" class="rr-btn btn-hover-white wow fadeInLeft animated" data-wow-delay="1s">Start Your Project</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="banner banner__space">
					<div class="banner__thumb-bg" data-background="print/assets/imgs/banner-2/banner-2-bg-img-2.png"></div>
					<div class="container">
						<div class="banner__space-shape-wrapper">
							<div class="banner__space-shape-wrapper-top-black-shape">
								<img src="{{ url_for('static', filename='print/assets/imgs/banner-2/banner-2-top-black-shape.svg') }}" alt="img not found">
							</div>
							<div class="banner__space-shape-wrapper-bottom-shape">
								<img src="{{ url_for('static', filename='print/assets/imgs/banner-2/banner-2-botom-shape.svg') }}" alt="img not found">
							</div>
						</div>
						<div class="row">
							<div class="col-xxl-9 col-xl-9 col-lg-10">
								<div class="banner__content p-relative z-index-1">
									<span class="banner__sub-title">Dedicated To Excellence</span>
									<h2 class="banner__title">Digital Printing Service For Your Business</h2>
									<p class="h5">There are many variations of passages orem psum available but the majority have suffered alteration in some form by injected humour or randomised words which don't look even.</p>

									<div class="banner-home-2__btn__wrapper-2 d-flex flex-wrap mt-40 mt-md-35 mt-sm-30 mt-xs-25">
										<a href="{{ url_for('static', filename='contact.html') }}" class="rr-btn btn-hover-white wow fadeInLeft animated" data-wow-delay="1s">Start Your Project</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- If we need navigation buttons -->
		<div class="banner__navigation d-none d-lg-block">
			<button class="banner__button-next"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M19 10H1" stroke="#001D08" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M10 1L1 10L10 19" stroke="#001D08" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
			</button>
			
			<button class="banner__button-prev"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1 10H19" stroke="#001D08" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M10 1L19 10L10 19" stroke="#001D08" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
			</button>
			
		</div>
	</div>
</div>

<div class="about-section" id="about">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6 col-md-6">
				<div class="row align-items-center abouts">
					<div class="col-lg-6 col-md-6">
						<div class="thumb-items">
							<img src="{{ url_for('static', filename='assets/images/resource/about1.png') }}" alt="">
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="thumb-items">
							<img src="{{ url_for('static', filename='assets/images/resource/about-2.png') }}" alt="">
						</div>
						<div class="thumb-items">
							<img src="{{ url_for('static', filename='assets/images/resource/about-3.png') }}" alt="">
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 pl-40 pr-0">
				<div class="print_shop-section-title">
					<h5> ABOUT PRINTING SERVICES </h5>
					<h1> Produce Stuning <span>Printing</span></h1>
					<h1> For Your Business </h1>
					<p> Fast print, flyer, and pamphlet printing organization pleased with past Printing for what’s to come. What’s more, we do printing. </p>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<div class="about-print-items">
							<div class="about-icon">
								<img src="{{ url_for('static', filename='assets/images/resource/about-icon1.png') }}" alt="">
							</div>
							<div class="about-item-content">
								<h4> Banners Printing </h4>
								<p> services resource potentialities awesome services you. </p>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="about-print-items">
							<div class="about-icon">
								<img src="{{ url_for('static', filename='assets/images/resource/about-icon2.png') }}" alt="">
							</div>
							<div class="about-item-content">
								<h4> Business Card Design </h4>
								<p> services resource potentialities awesome services you. </p>
							</div>
						</div>
					</div>
				</div>
				<!-- about check -->
				<div class="about-check">
					<p><i class="bi bi-check-lg"></i> Large paper & stock selection & Unique Print </p>
				</div>
				<!-- about check -->
				<div class="about-check">
					<p><i class="bi bi-check-lg"></i> Printing programs tailored to your company needs </p>
				</div>
				<div class="print-shop-artist">
					<!-- Artist name -->
					<div class="artist-name">
						<h5>Md. Al- Amin Hossain</h5>
					</div>
					<div class="artist-categories">
						<p>Senior Artist Designer</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="service-section" id="service">
	<div class="container">
		<div class="row service-bg">
			<div class="col-lg-12">
				<div class="print_shop-section-title text-center">
					<h5> WE ARE Professional </h5>
					<h1> Awesome Service For Printing</h1>
					<h1> <span> And Design </span></h1>
					<p>Professionally pursue economically sound services resource sucking potentialities. Authoritat morph with premier catalysts for change awesome services for you. </p>
				</div>
			</div>
			<!-- service shape -->
			<div class="service-shape bounce-animate3">
				<img src="{{ url_for('static', filename='assets/images/slider/cross2.png') }}" alt="">
			</div>
			<div class="service-shape2 dance2">
				<img src="{{ url_for('static', filename='assets/images/slider/ball1.png') }}" alt="">
			</div>
			<div class="service-shape3 bounce-animate">
				<img src="{{ url_for('static', filename='assets/images/slider/cross1.png') }}" alt="">
			</div>
			<div class="service-shape4 bounce-animate">
				<img src="{{ url_for('static', filename='assets/images/resource/ball1.png') }}" alt="">
			</div>
			<div class="service-shape5 bounce-animate4">
				<img src="{{ url_for('static', filename='assets/images/resource/ball2.png') }}" alt="">
			</div>
		</div>
		<div class="row">
			<a href="{{ url_for('static', filename='service-details.html') }}">
			<div class="col-lg-3 col-md-6">
				<div class="single-service-box">
					<!-- service icon -->
					<div class="service-icon">
						<img src="{{ url_for('static', filename='assets/images/resource/service-icon1.png') }}" alt="">
					</div>
					<!-- service content -->
					<div class="service-content">
						<h3>Design & Branding</h3>
						<p>Professionally pursue economically sou services resource sucking pote services for your business. </p>
					</div>
					<!-- service button -->
					<a href="{{ url_for('static', filename='service-details.html') }}">
					<div class="service-button">
						<a href="{{ url_for('static', filename='service-details.html') }}"> Read More <i class="bi bi-arrow-right"></i> </a>
					</div>
				</a>
				</div>
			</div>
			</a>
			<div class="col-lg-3 col-md-6">
				<a href="{{ url_for('static', filename='service-details.html') }}">
				<div class="single-service-box">
					<!-- service icon -->
					<div class="service-icon">
						<img src="{{ url_for('static', filename='assets/images/resource/service-icon2.png') }}" alt="">
					</div>
					<!-- service content -->
					<div class="service-content">
						<h3>Printing Services</h3>
						<p>Professionally pursue economically sou services resource sucking pote services for your business. </p>
					</div>
					<!-- service button -->
					<div class="service-button">
						<a href="{{ url_for('static', filename='service-details.html') }}"> Read More <i class="bi bi-arrow-right"></i> </a>
					</div>
				</div>
				</a>
			</div>
			<div class="col-lg-3 col-md-6">
				<a href="{{ url_for('static', filename='service-details.html') }}"></a>
				<div class="single-service-box">
					<!-- service icon -->
					<div class="service-icon">
						<img src="{{ url_for('static', filename='assets/images/resource/service-icon3.png') }}" alt="">
					</div>
					<!-- service content -->
					<div class="service-content">
						<h3>3D Printing Service</h3>
						<p>Professionally pursue economically sou services resource sucking pote services for your business. </p>
					</div>
					<!-- service button -->
					<div class="service-button">
						<a href="{{ url_for('static', filename='service-details.html') }}"> Read More <i class="bi bi-arrow-right"></i> </a>
					</div>
				</div>
			</a>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="single-service-box">
					<!-- service icon -->
					<div class="service-icon">
						<img src="{{ url_for('static', filename='assets/images/resource/service-icon4.png') }}" alt="">
					</div>
					<!-- service content -->
					<div class="service-content">
						<h3>Printing Services</h3>
						<p>Professionally pursue economically sou services resource sucking pote services for your business. </p>
					</div>
					<!-- service button -->
					<div class="service-button">
						<a href="{{ url_for('static', filename='service-details.html') }}"> Read More <i class="bi bi-arrow-right"></i> </a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="counter-section">
	<div class="container">
		<div class="row counter-bg">
			<div class="col-lg-6 col-md-6">
				<div class="print_shop-section-title">
					<h5> HHIGHT FIDALITY SERVICES </h5>
					<h1> Our G7 Certification Means </h1>
					<h1> You’ll Get Gigher <span>Quality</span> </h1>
					<p> Professionally pursue economically sound services resource sucking potentialitie offer Authoritat morph with premier catalysts for change awesome services for you sound services resource sucking potentialitie quality.  </p>
				</div>
				<!-- counter button -->
				<div class="print-button">
					<a href="{{ url_for('static', filename='contact.html') }}"> Contact Us <i class="bi bi-arrow-right"></i></a>
				</div>
				<!-- counter video -->
				<div class="video-icon2">
					<a class="video-vemo-icon venobox vbox-item" data-vbtype="youtube" data-autoplay="true" href="https://youtu.be/BS4TUd7FJSg"><i class="bi bi-play-fill"></i></a>
					<span>How We Work</span>
				</div>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<div class="single-counter-box up">
							<!-- counter content -->
							<div class="counter-content">
								<h2>$59M</h2>
								<p> Sold by customers trust Print King </p>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="single-counter-box">
							<!-- counter content -->
							<div class="counter-content">
								<h2>1.400</h2>
								<p> Person team Invested of North America </p>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="single-counter-box up">
							<!-- counter content -->
							<div class="counter-content">
								<h2>$67M</h2>
								<p> Invested in printing equipment </p>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="single-counter-box">
							<!-- counter content -->
							<div class="counter-content">
								<h2>$45M</h2>
								<p> items trusted to deliver Europe </p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- counter shape -->
			<div class="counter-shape bounce-animate2">
				<img src="{{ url_for('static', filename='assets/images/slider/ball2.png') }}" alt="">
			</div>
			<div class="counter-shape2 bounce-animate">
				<img src="{{ url_for('static', filename='assets/images/resource/ball2.png') }}" alt="">
			</div>
			<div class="counter-shape3 bounce-animate3">
				<img src="{{ url_for('static', filename='assets/images/slider/cross2.png') }}" alt="">
			</div>
			<div class="counter-shape4 bounce-animate5">
				<img src="{{ url_for('static', filename='assets/images/slider/cross1.png') }}" alt="">
			</div>
		</div>
	</div>
</div>
<div class="gallery-container">
	<div class="item"></div>
	<div class="item"></div>
	<div class="item"></div>
	<div class="item"></div>
	<div class="item">
		<a href="{{ url_for('static', filename='shop.html') }}">
		<div class="text-overlay">All products</div>
	</a>
		
	</div>
  </div>

<div class="blog-section">
	<div class="container">
		<div class="row align-items-center mb-40">
			<div class="col-lg-12">
				<div class="print_shop-section-title text-center">
					<h5> WE ARE Professional </h5>
					<h1> Choose The Best Package For </h1>
					<h1> <span>your Business</span> </h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="single-blog-box">
					<!-- blog thumb -->
					<div class="single-blog-thumb">
						<img src="{{ url_for('static', filename='assets/images/resource/blog1.png') }}" alt="">
					</div>
					<!-- blog content -->
					<div class="blog-content">
						<!-- post categories -->
						<div class="post-categories">
							<p><i class="bi bi-person-fill"></i> Fred Hyman <span class="post"> <i class="bi bi-chat-dots-fill"></i> Comments </span> </p>
						</div>
						<!-- blog title -->
						<div class="blog-title">
							<h2> <a href="{{ url_for('static', filename='blog-details.html') }}"> Smashing Podcast Episode With Vitaly Friedman Jay </a> </h2>
						</div>
						<!-- blog desc -->
						<div class="blog-desc">
							<p>Lorem ipsum dolor consecttur adipiscing eaxm elit aenean pharetra mollis pretium.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-blog-box">
					<!-- blog thumb -->
					<div class="single-blog-thumb">
						<img src="{{ url_for('static', filename='assets/images/resource/blog2.png') }}" alt="">
					</div>
					<!-- blog content -->
					<div class="blog-content">
						<!-- post categories -->
						<div class="post-categories">
							<p><i class="bi bi-person-fill"></i> Fred Hyman <span class="post"> <i class="bi bi-chat-dots-fill"></i> Comments </span> </p>
						</div>
						<!-- blog title -->
						<div class="blog-title">
							<h2> <a href="{{ url_for('static', filename='blog-details.html') }}"> Modern Way To Create And See Host WordPress </a> </h2>
						</div>
						<!-- blog desc -->
						<div class="blog-desc">
							<p>Lorem ipsum dolor consecttur adipiscing eaxm elit aenean pharetra mollis pretium.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-blog-box">
					<!-- blog thumb -->
					<div class="single-blog-thumb">
						<img src="{{ url_for('static', filename='assets/images/resource/blog3.png') }}" alt="">
					</div>
					<!-- blog content -->
					<div class="blog-content">
						<!-- post categories -->
						<div class="post-categories">
							<p><i class="bi bi-person-fill"></i> Fred Hyman <span class="post"> <i class="bi bi-chat-dots-fill"></i> Comments </span> </p>
						</div>
						<!-- blog title -->
						<div class="blog-title">
							<h2> <a href="{{ url_for('static', filename='blog-details.html') }}"> Rethinking Server-Timing As A Monitoring Tool </a> </h2>
						</div>
						<!-- blog desc -->
						<div class="blog-desc">
							<p>Lorem ipsum dolor consecttur adipiscing eaxm elit aenean pharetra mollis pretium.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- End print shop Blog Section -->
<!--==================================================-->

<!--==================================================-->
<!-- Start print shop Footer Section  -->
<!--==================================================-->

<div class="footer-section"> 
	<div class="container">
		<div class="row footer-bg">
			<div class="col-lg-3 col-md-6 pl-20 pr-40">
				<div class="widgets-company-info">
					<!-- print logo -->
					<div class="print-logo">
						<a class="logo_img" href="{{ url_for('static', filename='index.html') }}" title="techno">
							<img src="{{ url_for('static', filename='/assets/images/nini.png') }}" alt="" />
						</a>
					</div>
					<!-- footer desc -->
					<div class="company-desc-info">
						<p>Curabitur vennatis finibus nte et magna eu ve Aliuam puus seim rhoncus bibendum,</p>
					</div>
					<!-- company social info -->
					<div class="company-social-info">
						<ul>
							<li><a href="{{ url_for('static', filename='index.html#') }}"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="{{ url_for('static', filename='index.html#') }}"><i class="fab fa-twitter"></i></a></li>
							<li><a href="{{ url_for('static', filename='index.html#') }}"><i class="fab fa-linkedin-in"></i></a></li>
							<li><a href="{{ url_for('static', filename='index.html#') }}"><i class="fab fa-pinterest-p"></i></a></li>	
						</ul>
					</div>
				</div>					
			</div>
			<div class="col-lg-3 col-md-6 pl-40">
				<div class="widget-nav-menu">
					<!-- widget title -->
					<h4 class="widget-title"> Get in touch </h4>
					<div class="menu-quick-link-content">
						<ul class="footer-widget-list">
							<li><a href="{{ url_for('static', filename='index.html#') }}"> <i class="bi bi-arrow-right"></i> Shoping</a></li>
							<li><a href="{{ url_for('static', filename='index.html#') }}"> <i class="bi bi-arrow-right"></i> product</a></li>
							<li><a href="{{ url_for('static', filename='index.html#') }}"> <i class="bi bi-arrow-right"></i> Services</a></li>
							<li><a href="{{ url_for('static', filename='index.html#') }}"> <i class="bi bi-arrow-right"></i> About Us</a></li>
							<li><a href="{{ url_for('static', filename='index.html#') }}"> <i class="bi bi-arrow-right"></i> Contact Us</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="widget-nav-menu">
					<!-- widget title -->
					<h4 class="widget-title"> Useful Links </h4>
					<div class="menu-quick-link-content">
						<ul class="footer-widget-list">
							<li><a href="{{ url_for('static', filename='index.html#') }}"> <i class="bi bi-arrow-right"></i> Useful Links</a></li>
							<li><a href="{{ url_for('static', filename='index.html#') }}"> <i class="bi bi-arrow-right"></i> 3d Printing</a></li>
							<li><a href="{{ url_for('static', filename='index.html#') }}"> <i class="bi bi-arrow-right"></i> Printing & Design</a></li>
							<li><a href="{{ url_for('static', filename='index.html#') }}"> <i class="bi bi-arrow-right"></i> Upset Printing</a></li>
							<li><a href="{{ url_for('static', filename='index.html#') }}"> <i class="bi bi-arrow-right"></i> T-Shart printing</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="menu-quick-link-contact">
					<!-- widget title -->
					<h4 class="widget-title"> Contact Us </h4>
					<!-- company contact info -->
					<div class="company-contact-info">
						<p> <i class="bi bi-telephone"></i> Phone: 600.123.4567 </p>
						<p> <i class="bi bi-envelope-fill"></i> Email: www.@example.com </p>
						<p> <i class="bi bi-geo-alt-fill"></i> A26BT5 Building, SilverC Street, London, England. </p>
					</div>
				</div>
			</div>
			<!-- footer shape -->
			<div class="footer-shape bounce-animate">
				<img src="{{ url_for('static', filename='assets/images/resource/ball2.png') }}" alt="">
			</div>
			<div class="footer-shape2 bounce-animate2">
				<img src="{{ url_for('static', filename='assets/images/slider/cross1.png') }}" alt="">
			</div>
			<div class="footer-shape3 bounce-animate3">
				<img src="{{ url_for('static', filename='assets/images/slider/cross1.png') }}" alt="">
			</div>
			<div class="footer-shape4 bounce-animate4">
				<img src="{{ url_for('static', filename='assets/images/slider/ball2.png') }}" alt="">
			</div>
			<div class="footer-shape5 bounce-animate5">
				<img src="{{ url_for('static', filename='assets/images/resource/ball3.png') }}" alt="">
			</div>
			<div class="footer-shape6 bounce-animate2">
				<img src="{{ url_for('static', filename='assets/images/slider/cross2.png') }}" alt="">
			</div>
			<div class="footer-shape7 bounce-animate2">
				<img src="{{ url_for('static', filename='assets/images/slider/cross1.png') }}" alt="">
			</div>
			<div class="footer-shape8 bounce-animate2">
				<img src="{{ url_for('static', filename='assets/images/resource/ball2.png') }}" alt="">
			</div>
		</div>
		<div class="row footer-bottom-bg">
			<div class="col-lg-6 col-md-6 pl-0">
				<div class="footer-bottom-content-copy">
					<p> Copyright 2024 @ Dream IT. All rights reserved.  </p>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 pr-0">
				<div class="footer-bottom-menu text-right">
					<ul>
						<li>Privacy</li>
						<li>Teams</li>
						<li>Purchase</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>			
<!--==================================================-->
<!-- End print_shop Footer Section  -->
<!--==================================================-->

<!--==================================================-->
<!-- Start scrollup section  -->
<!--==================================================-->
<!-- scrollup section -->
<div class="scroll-area">
	<div class="top-wrap">
		<div class="go-top-btn-wraper">
			<div class="go-top go-top-button">
				<i class="fas fa-arrow-up"></i>
				<i class="fas fa-arrow-up"></i>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- Start scrollup section Area -->
<!--==================================================-->
	
	<!-- jquery js -->	
	<script src="{{ url_for('static', filename='assets/js/vendor/jquery-3.6.2.min.js') }}"></script>
	<!-- bootstrap js -->	
	<script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
	<!-- carousel js -->
	<script src="{{ url_for('static', filename='assets/js/owl.carousel.min.js') }}"></script>
	<!-- counterup js -->
	<script src="{{ url_for('static', filename='assets/js/jquery.counterup.min.js') }}"></script>
	<!-- waypoints js -->
	<script src="{{ url_for('static', filename='assets/js/waypoints.min.js') }}"></script>
	<!-- wow js -->
	<script src="{{ url_for('static', filename='assets/js/wow.js') }}"></script>
	<!-- venobox js -->
	<script src="{{ url_for('static', filename='venobox/venobox.js') }}"></script>
	<!-- ajax mail js -->
	<script src="{{ url_for('static', filename='assets/js/ajax-mail.js') }}"></script>
	<!--  animated-text js -->	
	<script src="{{ url_for('static', filename='assets/js/animated-text.js') }}"></script>
	<!-- venobox min js -->
	<script src="{{ url_for('static', filename='venobox/venobox.min.js') }}"></script>
	<!-- isotope js -->
	<script src="{{ url_for('static', filename='assets/js/isotope.pkgd.min.js') }}"></script>
	<!-- jquery meanmenu js -->	
	<script src="{{ url_for('static', filename='assets/js/jquery.meanmenu.js') }}"></script>
	<!-- jquery scrollup js -->	
	<script src="{{ url_for('static', filename='assets/js/jquery.scrollUp.js') }}"></script>
	<!-- theme js -->	
	<script src="{{ url_for('static', filename='assets/js/theme.js') }}"></script>
	<script>
		document.addEventListener('DOMContentLoaded', function () {
		  var swiper = new Swiper('.swiper', {
			loop: true,
			autoplay: {
			  delay: 5000,
			  disableOnInteraction: false,
			},
			navigation: {
			  nextEl: '.banner__button-next',
			  prevEl: '.banner__button-prev',
			},
			speed: 1200, // Adjust this value for smoother transitions
		  });
	  
		  // Set background images
		  document.querySelectorAll('.banner__thumb-bg').forEach((element) => {
			const bg = element.getAttribute('data-background');
			if (bg) {
			  element.style.backgroundImage = `url(${bg})`;
			}
		  });
		});
	  </script>
	  
	<!-- testimonial js -->
	<script src="{{ url_for('static', filename='assets/js/testimonial.js') }}"></script>
	<script src="{{ url_for('static', filename='print/assets/js/vendor/jquery-3.6.0.min.js') }}"></script>
	<script src="{{ url_for('static', filename='print/assets/js/plugins/waypoints.min.js') }}"></script>
	<script src="{{ url_for('static', filename='print/assets/js/vendor/bootstrap.bundle.min.js') }}"></script>
	<script src="{{ url_for('static', filename='print/assets/js/plugins/meanmenu.min.js') }}"></script>
	<script src="{{ url_for('static', filename='print/assets/js/plugins/swiper.min.js') }}"></script>
	<script src="{{ url_for('static', filename='print/https://html.rrdevs.net/printfix/assets/js/plugins/wow.js') }}"></script>
	<script src="{{ url_for('static', filename='print/assets/js/vendor/magnific-popup.min.js') }}"></script>
	<script src="{{ url_for('static', filename='print/assets/js/vendor/type.js') }}"></script>
	<script src="{{ url_for('static', filename='print/assets/js/plugins/counterup.js') }}"></script>
	<script src="{{ url_for('static', filename='print/assets/js/plugins/nice-select.min.js') }}"></script>
	<script src="{{ url_for('static', filename='print/assets/js/vendor/jquery-ui.min.js') }}"></script>
	<script src="{{ url_for('static', filename='print/assets/js/plugins/parallax-scroll.js') }}"></script>
	<script src="{{ url_for('static', filename='print/assets/js/plugins/jquery.countdown.min.js') }}"></script>
	<script src="{{ url_for('static', filename='print/assets/js/plugins/isotope-docs.min.js') }}"></script>
	<script src="{{ url_for('static', filename='print/assets/js/vendor/ajax-form.js') }}"></script>
	<script src="{{ url_for('static', filename='print/assets/js/plugins/slick.min.js') }}"></script>
	<script src="{{ url_for('static', filename='print/assets/js/main.js') }}"></script>
	<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
	<script defer src="https://unpkg.com/gsap@3/dist/gsap.min.js"></script>
<script defer src="https://unpkg.com/gsap@3/dist/ScrollTrigger.min.js"></script>
<script defer src="{{ url_for('static', filename='main.js') }}"></script>
	<script>
        const items = document.querySelectorAll(".item");
        let imageURLs = [
            "images/port1.jpg",
            "images/port2.jpg",
            "images/port3.jpg",
            "images/port4.jpg",
            "images/port5.jpg",
        ];
        let deviceType = "";
        let events = {
            mouse: {
                start: "mouseover",
                end: "mouseout",
            },
            touch: {
                start: "click",  // Use click event for touch devices
                end: "click",    // Use click event for touch devices
            },
        };
        const isTouchDevice = () => {
            try {
                document.createEvent("TouchEvent");
                deviceType = "touch";
                return true;
            } catch (e) {
                deviceType = "mouse";
                return false;
            }
        };

        isTouchDevice();
        items.forEach((item, index) => {
            let img = document.createElement("img");
            img.setAttribute("src", `{{ url_for('static', filename='${imageURLs[index]}') }}`)
            img.style.width = "100%";
            img.style.height = "100%";
            img.style.objectFit = "cover";
            item.appendChild(img);
            //Initial CSS properties for all items
            item.style.flex = "1";
            item.style.transition = "flex 0.8s ease";
            
            let isZoomedIn = false;
            item.addEventListener(events[deviceType].start, () => {
                if (deviceType === "touch") {
                    isZoomedIn = !isZoomedIn;
                    item.style.flex = isZoomedIn ? "3" : "1"; // Toggle zoom
                } else {
                    item.style.flex = "3"; //Expand the item
                }
            });
            if (deviceType === "mouse") {
                item.addEventListener(events[deviceType].end, () => {
                    item.style.flex = "1"; //Contract the item
                });
            }
        });
    </script>
</body>
</html>