<!DOCTYPE HTML>
<html lang="en-US">
<head>
     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sofia&display=swap" rel="stylesheet">
    <!-- CSS here -->
    <link rel="stylesheet" href="{{ url_for('static', filename='print/assets/css/vendor/bootstrap.min.css') }}">
	<!-- Swiper CSS -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

<!-- Swiper JS -->

    <link rel="stylesheet" href="{{ url_for('static', filename='print/assets/css/vendor/animate.min.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='print/assets/css/plugins/swiper.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='print/assets/css/vendor/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='print/assets/css/vendor/fontawesome-pro.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='print/assets/css/vendor/spacing.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='print/assets/css/vendor/custom-font.css') }}">
    
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>JESOFE-PRINTING</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Favicon -->
	<link rel="icon" type="image/png" sizes="100%x100%" href="{{ url_for('static', filename='assets/images/nini.png') }}">
	<!-- bootstrap CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}" type="text/css" media="all" />
	<!-- carousel CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/owl.carousel.min.css') }}" type="text/css" media="all" />	
	<!-- animate CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/animate.css') }}" type="text/css" media="all" />	
	<!-- animated-text CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/animated-text.css') }}" type="text/css" media="all" />	
	<!-- font-awesome CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/all.min.css') }}" type="text/css" media="all" />		
	<!-- theme-default CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/theme-default.css') }}" type="text/css" media="all" />	
	<!-- meanmenu CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/meanmenu.min.css') }}" type="text/css" media="all" />	
	<!-- Main Style CSS -->
	<link rel="stylesheet"  href="{{ url_for('static', filename='style.css') }}" type="text/css" media="all" />
	<!-- transitions CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/owl.transitions.css') }}" type="text/css" media="all" />
	<!-- venobox CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='venobox/venobox.css') }}" type="text/css" media="all" />
	<!-- responsive CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/responsive.css') }}" type="text/css" media="all" />
	<!-- modernizr js -->	
	<script src="{{ url_for('static', filename='assets/js/vendor/modernizr-3.5.0.min.js') }}"></script>		
	<!-- bootstrap icons -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
	<style>
         .hidden {
            display: none;
        }
        .toggle-button {
			padding: 12px 38px;
    font-weight: 500;
    color: #fff;
    background-image: linear-gradient(-86deg, #dd1d25 0%, #fb9737 100%);
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #fb9737;
    position: relative;
    z-index: 1;
    overflow: hidden;
        }
        .toggle-button:before {
    position: absolute;
    content: "";
    z-index: -1;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: #fff;
    border-radius: 4px;
    transition: .5s;
}
.toggle-button:hover {
   color: #FF3B00; 
}
.toggle-button:hover:before {
    width: 100%;
    left: 0;
}
    </style>
</head>
<body>
	<!-- loder -->
	<div class="loader-wrapper">
	  <div class="loader"></div>
	  <div class="loder-section left-section"></div>
	  <div class="loder-section right-section"></div>
	</div>
<!--==================================================-->
<!-- Start print shop Main Menu -->
<!--==================================================-->
<div id="sticky-header" class="print_shop_nav_manu">
	<div class="container-fluid">
		<div class="row align-items-center">
			<div class="col-lg-2">
				<div class="logo">
					<a class="logo_img" href="{{ url_for('static', filename='index.html') }}" title="print_shop">
						<img src="{{ url_for('static', filename='assets/images/nini.png') }}" id="wiwi">
					</a>
					<a class="main_sticky" href="{{ url_for('static', filename='index.html') }}" title="print_shop">
						<img src="{{ url_for('static', filename='assets/images/nini.png') }}" alt="astute"  id="wiwi1"/>
					</a>
				</div>
			</div>
			<div class="col-lg-8">
				<nav class="print_shop_menu">
					<ul class="nav_scroll">
						<li><a href="{{ url_for('static', filename='index.html') }}">Home</a>		
						</li>
						<li><a class="blog" href="{{ url_for('static', filename='index.html') }}">About </a></li>
						<li><a href="{{ url_for('static', filename='index.html') }}">Services</a>
						</li>
						<li><a href="{{ url_for('static', filename='shop.html') }}">Shop</a>
						<li><a class="blog" href="{{ url_for('static', filename='contact.html') }}">Contact</a></li>
						<li><a class="blog" href="{{ url_for('static', filename='login.html') }}"><i class="fas fa-user-tie"></i></a></li>
					</ul>		
				</nav>
			</div>
			<div class="col-lg-2">
				<div class="header-button text-right">
					<a href="{{ url_for('static', filename='contact.html') }}"> Contact Us <i class="bi bi-arrow-right"></i> </a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- print_shop Mobile Menu  -->
<div class="mobile-menu-area sticky d-sm-block d-md-block d-lg-none ">
	<div class="mobile-menu">
		<nav class="print_shop_menu">
			<ul class="nav_scroll">
				<li><a href="{{ url_for('static', filename='index.html') }}">Home</a>		
				</li>
				<li><a class="blog" href="#about">About </a></li>
				<li><a href="{{ url_for('static', filename='index.html') }}">Services</a>
				</li>
				<li><a href="{{ url_for('shop') }}">Shop</a>
				<li><a class="blog" href="{{ url_for('contact') }}">Contact</a></li>
				<li><a class="blog" href="{{ url_for('static', filename='login.html') }}"><i class="fas fa-user-tie"></i></a></li>
			</ul>
		</nav>
	</div>
</div>
<div class="breatcam-section d-flex align-items-center upp">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="breatcam-content text-center">
					<!-- breadcumb title -->
					<div class="breatcam-title">
						<h1> Service Details </h1>
					</div>
					<!-- breatcam menu -->
					<div class="breatcam-menu">
						<ul>
							<li><a href="{{ url_for('static', filename='index.html') }}"> Home </a></li>
							<li> Service Details </li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- End print shop breatcam section -->
<!--==================================================--> 

<!--==================================================-->
<!-- Start print shop About Section  -->
<!--==================================================-->
<div class="service-details">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6 col-md-6">
				<div class="service-thumb2">
					<img src="{{ url_for('static', filename='assets/images/resource/service-detail-1.jpg') }}" alt="">
				</div>
			</div>
			<div class="col-lg-6 col-md-6 pl-40 pr-0">
				<div class="print_shop-section-title">
					<h1> Best shipping rates </h1>
					<h1> for print-on-demand <span>services</span> </h1>
					<p> Fast print, flyer, and pamphlet printing organization. Pleased with our past. Printing for what’s to come. What’s more, we do it right! A full administration printing background.  What’s more, we do it right! A full  printing. </p>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-6 ">
						<div class="service-details-box">
							<!-- service icon -->
							<div class="service-icon2">
								<img src="{{ url_for('static', filename='assets/images/resource/service-icon3.png') }}" alt="">
							</div>
							<!-- service content -->
							<div class="service-details-content">
								<h2>Made-to-measure packaging</h2>
								<p>Lorem ipsum det, consec tetur adipiscing elit duis nec fringi</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 ">
						<div class="service-details-box">
							<!-- service icon -->
							<div class="service-icon2">
								<img src="{{ url_for('static', filename='assets/images/resource/service-icon4.png') }}" alt="">
							</div>
							<!-- service content -->
							<div class="service-details-content">
								<h2> Reorder quickly and easily</h2>
								<p>Lorem ipsum det, consec tetur adipiscing elit duis nec fringi</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- End print shop About Section  -->
<!--==================================================-->

<!--==================================================-->
<!-- Start print shop Process Section  -->
<!--==================================================-->
<div class="process-serction upp">
	<div class="container">
		<div class="row process-bg">
			<div class="col-lg-12">
				<div class="print_shop-section-title text-center">
					<h5> OUR WORK PROCESS </h5>
					<h1> How Dose We <span>Works</span></h1>
					<p> Professionally pursue economically sound services resource sucking potentialities morph with premier catalysts for change awesome services you.  </p>
				</div>
			</div>
			<!-- service shape -->
			<div class="service-shape bounce-animate3">
				<img src="{{ url_for('static', filename='assets/images/slider/cross2.png') }}" alt="">
			</div>
			<div class="service-shape2 dance2">
				<img src="{{ url_for('static', filename='assets/images/slider/ball1.png') }}" alt="">
			</div>
			<div class="service-shape3 bounce-animate">
				<img src="{{ url_for('static', filename='assets/images/slider/cross1.png') }}" alt="">
			</div>
			<div class="service-shape4 bounce-animate">
				<img src="{{ url_for('static', filename='assets/images/resource/ball1.png') }}" alt="">
			</div>
			<div class="service-shape5 bounce-animate4">
				<img src="{{ url_for('static', filename='assets/images/resource/ball2.png') }}" alt="">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<div class="single-process-box">
					<div class="process-box-inner">
						<!-- process step -->
						<div class="process-step">
							<h5>STEP</h5>
						</div>
						<!-- process number -->
						<div class="process-number">
							<h3>01</h3>
						</div>
						<!-- process content -->
						<div class="process-content white">
							<h3>Imagine Design</h3>
							<p>Professionally economically service resource of suckings service your business. </p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="single-process-box">
					<div class="process-box-inner">
						<!-- process step -->
						<div class="process-step">
							<h5>STEP</h5>
						</div>
						<!-- process number -->
						<div class="process-number">
							<h3>02</h3>
						</div>
						<!-- process content -->
						<div class="process-content white">
							<h3>Collect Information</h3>
							<p>Professionally economically service resource of suckings service your business. </p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="single-process-box">
					<div class="process-box-inner">
						<!-- process step -->
						<div class="process-step">
							<h5>STEP</h5>
						</div>
						<!-- process number -->
						<div class="process-number">
							<h3>03</h3>
						</div>
						<!-- process content -->
						<div class="process-content white">
							<h3>Select Your Design</h3>
							<p>Professionally economically service resource of suckings service your business. </p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="single-process-box">
					<div class="process-box-inner">
						<!-- process step -->
						<div class="process-step">
							<h5>STEP</h5>
						</div>
						<!-- process number -->
						<div class="process-number">
							<h3>04</h3>
						</div>
						<!-- process content -->
						<div class="process-content white">
							<h3>Print Out Result</h3>
							<p>Professionally economically service resource of suckings service your business. </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- End print shop process Section  -->
<!--==================================================-->

<!--==================================================-->
<!-- Start print shop About Section  -->
<!--==================================================-->
<div class="service-details style-two">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-4 col-md-6">
				<div class="print_shop-section-title">
					<h1> So, why us? </h1>
					<p class="service">What Makes Pricom Different?</p>
				</div>
				<!-- button -->
				<div class="print-button">
					<a href="{{ url_for('static', filename='contact.html') }}">Get Started <i class="bi bi-arrow-right"></i></a>
				</div>
			</div>
			<div class="col-lg-8">
				<div class="row responsive">
					<div class="col-lg-6 col-md-6 ">
						<div class="service-details-box">
							<!-- service icon -->
							<div class="service-icon2">
								<img src="{{ url_for('static', filename='assets/images/resource/service-icon2.png') }}" alt="">
							</div>
							<!-- service content -->
							<div class="service-details-content">
								<h2>Top quality prints using the latest technology</h2>
								<p>Lorem ipsum det, consec tetur adipiscing elit duis nec fringi</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 ">
						<div class="service-details-box">
							<!-- service icon -->
							<div class="service-icon2">
								<img src="{{ url_for('static', filename='assets/images/resource/service-icon3.png') }}" alt="">
							</div>
							<!-- service content -->
							<div class="service-details-content">
								<h2>Mix and match colors, sizes, and designs</h2>
								<p>Lorem ipsum det, consec tetur adipiscing elit duis nec fringi</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 ">
						<div class="service-details-box">
							<!-- service icon -->
							<div class="service-icon2">
								<img src="{{ url_for('static', filename='assets/images/resource/service-icon4.png') }}" alt="">
							</div>
							<!-- service content -->
							<div class="service-details-content">
								<h2>Made-to-measure packaging</h2>
								<p>Lorem ipsum det, consec tetur adipiscing elit duis nec fringi</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 ">
						<div class="service-details-box">
							<!-- service icon -->
							<div class="service-icon2">
								<img src="{{ url_for('static', filename='assets/images/resource/service-icon1.png') }}" alt="">
							</div>
							<!-- service content -->
							<div class="service-details-content">
								<h2> Reorder quickly and easily</h2>
								<p>Lorem ipsum det, consec tetur adipiscing elit duis nec fringi</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 ">
						<div class="service-details-box">
							<!-- service icon -->
							<div class="service-icon2">
								<img src="{{ url_for('static', filename='assets/images/resource/service-icon2.png') }}" alt="">
							</div>
							<!-- service content -->
							<div class="service-details-content">
								<h2>Shipping worldwide</h2>
								<p>Lorem ipsum det, consec tetur adipiscing elit duis nec fringi</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 ">
						<div class="service-details-box">
							<!-- service icon -->
							<div class="service-icon2">
								<img src="{{ url_for('static', filename='assets/images/resource/service-icon3.png') }}" alt="">
							</div>
							<!-- service content -->
							<div class="service-details-content">
								<h2>Environmentally friendly production processes</h2>
								<p>Lorem ipsum det, consec tetur adipiscing elit duis nec fringi</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- End print shop About Section  -->
<!--==================================================-->

<!--==================================================-->
<!-- Start print shop Portfolio Section  -->
<!--==================================================-->
<div class="portfolio-section style-three">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="print_shop-section-title text-center mb-60">
					<h5> OUR WORK PROCESS </h5>
					<h1> Case <span>Studies</span></h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="portfolio-single-box">
					<div class="portfolio-thumb">
						<img src="{{ url_for('static', filename='assets/images/resource/port1.jpg') }}" alt="">
						<div class="post-number">
							<span>1</span>
						</div>
						<div class="port-content">
							<h5><a href="{{ url_for('static', filename='shop.html') }}">Silk-screen printing</a></h5>
							<a href="{{ url_for('static', filename='shop-2.html') }}"><i class="bi bi-arrow-right"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="portfolio-single-box">
					<div class="portfolio-thumb">
						<img src="{{ url_for('static', filename='assets/images/resource/port2.jpg') }}" alt="">
						<div class="post-number">
							<span>2</span>
						</div>
						<div class="port-content">
							<h5><a href="{{ url_for('static', filename='shop.html') }}">T- Shirt Design Service</a></h5>
							<a href="{{ url_for('static', filename='shop-2.html') }}"><i class="bi bi-arrow-right"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="portfolio-single-box">
					<div class="portfolio-thumb">
						<img src="{{ url_for('static', filename='assets/images/resource/port3.jpg') }}" alt="">
						<div class="post-number">
							<span>3</span>
						</div>
						<div class="port-content">
							<h5><a href="{{ url_for('static', filename='shop.html') }}"> Shoping Bag </a></h5>
							<a href="{{ url_for('static', filename='shop-2.html') }}"><i class="bi bi-arrow-right"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 hidden">
				<div class="portfolio-single-box">
					<div class="portfolio-thumb">
						<img src="{{ url_for('static', filename='assets/images/resource/port4.jpg') }}" alt="">
						<div class="post-number">
							<span>4</span>
						</div>
						<div class="port-content">
							<h5><a href="{{ url_for('static', filename='shop.html') }}"> Shoping mug </a></h5>
							<a href="{{ url_for('static', filename='shop-2.html') }}"><i class="bi bi-arrow-right"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 hidden">
				<div class="portfolio-single-box">
					<div class="portfolio-thumb">
						<img src="{{ url_for('static', filename='assets/images/resource/port5.jpg') }}" alt="">
						<div class="post-number">
							<span>5</span>
						</div>
						<div class="port-content">
							<h5><a href="{{ url_for('static', filename='shop.html') }}"> Printing Service </a></h5>
							<a href="{{ url_for('static', filename='shop-2.html') }}"><i class="bi bi-arrow-right"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 hidden">
				<div class="portfolio-single-box">
					<div class="portfolio-thumb">
						<img src="{{ url_for('static', filename='assets/images/resource/port3.jpg') }}" alt="">
						<div class="post-number">
							<span>6</span>
						</div>
						<div class="port-content">
							<h5><a href="{{ url_for('static', filename='shop.html') }}"> Shoping Bag </a></h5>
							<a href="{{ url_for('static', filename='shop-2.html') }}"><i class="bi bi-arrow-right"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="print-button text-center">
				<button id="toggle-btn" class="toggle-button">View More</button>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- End print shop portfolio Section  -->
<!--==================================================-->

<!--==================================================-->
<!-- Start print shop Footer Section  -->
<!--==================================================-->
<div class="footer-section"> 
	<div class="container">
		<div class="row footer-bg">
			<div class="col-lg-3 col-md-6 pl-20 pr-40">
				<div class="widgets-company-info">
					<!-- print logo -->
					<div class="print-logo">
						<a class="logo_img" href="{{ url_for('static', filename='index.html') }}" title="techno">
							<img src="{{ url_for('static', filename='/assets/images/nini.png') }}" alt="" />
						</a>
					</div>
					<!-- footer desc -->
					<div class="company-desc-info">
						<p>Curabitur vennatis finibus nte et magna eu ve Aliuam puus seim rhoncus bibendum,</p>
					</div>
					<!-- company social info -->
					<div class="company-social-info">
						<ul>
							<li><a href="{{ url_for('static', filename='service-details.html#') }}"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="{{ url_for('static', filename='service-details.html#') }}"><i class="fab fa-twitter"></i></a></li>
							<li><a href="{{ url_for('static', filename='service-details.html#') }}"><i class="fab fa-linkedin-in"></i></a></li>
							<li><a href="{{ url_for('static', filename='service-details.html#') }}"><i class="fab fa-pinterest-p"></i></a></li>	
						</ul>
					</div>
				</div>					
			</div>
			<div class="col-lg-3 col-md-6 pl-40">
				<div class="widget-nav-menu">
					<!-- widget title -->
					<h4 class="widget-title"> Get in touch </h4>
					<div class="menu-quick-link-content">
						<ul class="footer-widget-list">
							<li><a href="{{ url_for('static', filename='service-details.html#') }}"> <i class="bi bi-arrow-right"></i> Shoping</a></li>
							<li><a href="{{ url_for('static', filename='service-details.html#') }}"> <i class="bi bi-arrow-right"></i> product</a></li>
							<li><a href="{{ url_for('static', filename='service-details.html#') }}"> <i class="bi bi-arrow-right"></i> Services</a></li>
							<li><a href="{{ url_for('static', filename='service-details.html#') }}"> <i class="bi bi-arrow-right"></i> About Us</a></li>
							<li><a href="{{ url_for('static', filename='service-details.html#') }}"> <i class="bi bi-arrow-right"></i> Contact Us</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="widget-nav-menu">
					<!-- widget title -->
					<h4 class="widget-title"> Useful Links </h4>
					<div class="menu-quick-link-content">
						<ul class="footer-widget-list">
							<li><a href="{{ url_for('static', filename='service-details.html#') }}"> <i class="bi bi-arrow-right"></i> Useful Links</a></li>
							<li><a href="{{ url_for('static', filename='service-details.html#') }}"> <i class="bi bi-arrow-right"></i> 3d Printing</a></li>
							<li><a href="{{ url_for('static', filename='service-details.html#') }}"> <i class="bi bi-arrow-right"></i> Printing & Design</a></li>
							<li><a href="{{ url_for('static', filename='service-details.html#') }}"> <i class="bi bi-arrow-right"></i> Upset Printing</a></li>
							<li><a href="{{ url_for('static', filename='service-details.html#') }}"> <i class="bi bi-arrow-right"></i> T-Shart printing</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="menu-quick-link-contact">
					<!-- widget title -->
					<h4 class="widget-title"> Contact Us </h4>
					<!-- company contact info -->
					<div class="company-contact-info">
						<p> <i class="bi bi-telephone"></i> Phone: 600.123.4567 </p>
						<p> <i class="bi bi-envelope-fill"></i> Email: www.@example.com </p>
						<p> <i class="bi bi-geo-alt-fill"></i> A26BT5 Building, SilverC Street, London, England. </p>
					</div>
				</div>
			</div>
			<!-- footer shape -->
			<div class="footer-shape bounce-animate">
				<img src="{{ url_for('static', filename='assets/images/resource/ball2.png') }}" alt="">
			</div>
			<div class="footer-shape2 bounce-animate2">
				<img src="{{ url_for('static', filename='assets/images/slider/cross1.png') }}" alt="">
			</div>
			<div class="footer-shape3 bounce-animate3">
				<img src="{{ url_for('static', filename='assets/images/slider/cross1.png') }}" alt="">
			</div>
			<div class="footer-shape4 bounce-animate4">
				<img src="{{ url_for('static', filename='assets/images/slider/ball2.png') }}" alt="">
			</div>
			<div class="footer-shape5 bounce-animate5">
				<img src="{{ url_for('static', filename='assets/images/resource/ball3.png') }}" alt="">
			</div>
			<div class="footer-shape6 bounce-animate2">
				<img src="{{ url_for('static', filename='assets/images/slider/cross2.png') }}" alt="">
			</div>
			<div class="footer-shape7 bounce-animate2">
				<img src="{{ url_for('static', filename='assets/images/slider/cross1.png') }}" alt="">
			</div>
			<div class="footer-shape8 bounce-animate2">
				<img src="{{ url_for('static', filename='assets/images/resource/ball2.png') }}" alt="">
			</div>
		</div>
		<div class="row footer-bottom-bg">
			<div class="col-lg-6 col-md-6 pl-0">
				<div class="footer-bottom-content-copy">
					<p> Copyright 2024 @ Dream IT. All rights reserved.  </p>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 pr-0">
				<div class="footer-bottom-menu text-right">
					<ul>
						<li>Privacy</li>
						<li>Teams</li>
						<li>Purchase</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>			
<!--==================================================-->
<!-- End print_shop Footer Section  -->
<!--==================================================-->

<!--==================================================-->
<!-- Start scrollup section  -->
<!--==================================================-->
<!-- scrollup section -->
<div class="scroll-area">
	<div class="top-wrap">
		<div class="go-top-btn-wraper">
			<div class="go-top go-top-button">
				<i class="fas fa-arrow-up"></i>
				<i class="fas fa-arrow-up"></i>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!-- Start scrollup section Area -->
<!--==================================================-->
	
	<!-- jquery js -->	
	<script src="{{ url_for('static', filename='assets/js/vendor/jquery-3.6.2.min.js') }}"></script>
	<!-- bootstrap js -->	
	<script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
	<!-- carousel js -->
	<script src="{{ url_for('static', filename='assets/js/owl.carousel.min.js') }}"></script>
	<!-- counterup js -->
	<script src="{{ url_for('static', filename='assets/js/jquery.counterup.min.js') }}"></script>
	<!-- waypoints js -->
	<script src="{{ url_for('static', filename='assets/js/waypoints.min.js') }}"></script>
	<!-- wow js -->
	<script src="{{ url_for('static', filename='assets/js/wow.js') }}"></script>
	<!-- venobox js -->
	<script src="{{ url_for('static', filename='venobox/venobox.js') }}"></script>
	<!-- ajax mail js -->
	<script src="{{ url_for('static', filename='assets/js/ajax-mail.js') }}"></script>
	<!--  animated-text js -->	
	<script src="{{ url_for('static', filename='assets/js/animated-text.js') }}"></script>
	<!-- venobox min js -->
	<script src="{{ url_for('static', filename='venobox/venobox.min.js') }}"></script>
	<!-- isotope js -->
	<script src="{{ url_for('static', filename='assets/js/isotope.pkgd.min.js') }}"></script>
	<!-- jquery meanmenu js -->	
	<script src="{{ url_for('static', filename='assets/js/jquery.meanmenu.js') }}"></script>
	<!-- jquery scrollup js -->	
	<script src="{{ url_for('static', filename='assets/js/jquery.scrollUp.js') }}"></script>
	<!-- theme js -->	
	<script src="{{ url_for('static', filename='assets/js/theme.js') }}"></script>
	<!-- testimonial js -->
	<script src="{{ url_for('static', filename='assets/js/testimonial.js') }}"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
        document.addEventListener('DOMContentLoaded', function() {
            var toggleBtn = document.getElementById('toggle-btn');
            toggleBtn.addEventListener('click', function() {
                var hiddenItems = document.querySelectorAll('.portfolio-section.style-three .col-lg-4.col-md-6');
                hiddenItems.forEach(function(item, index) {
                    if (index >= 3) {
                        item.classList.toggle('hidden');
                    }
                });
                toggleBtn.textContent = toggleBtn.textContent === 'View More' ? 'View Less' : 'View More';
            });
        });
    </script>
</body>
</html>